<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <div class="container flex flex-row">
      <div class="left-section flex-1">
        <img
          class=""
          src="/images/Stuffed animals/3-feet-teddy-bear-cream-color-90-jst-soft-toys-original-imah2vzm6uv5qg2y.webp"
          alt="teddy"
        />
      </div>
      <div class="right-section flex-1">
        <h1>Admin Login</h1>
        <form action="">
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Email" />
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
