NODE_ENV=development
PORT=3000
MONGO_URI=
SESSION_SECRET=
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=
MAIL_SERVICE=gmail
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZOR_KEY_ID=
RAZOR_SECRET_ID=
ADMIN_EMAIL=
ADMIN_PASSWORD=
