<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title%>
    </title>
    <!-- ----------------------------------tailwind----------------------------------->

    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- ---------------------------------custom styles----------------------------->
    
    <link rel="stylesheet" href="/css/styles.css">
    

    <!------------------------    - link for font awesome----------------------- -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <!------------------------------ google fonts------------------------------- -->
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
    
    <!------------------------------ cropper ------------------------------- -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <link rel="icon" href="../svg/icons8-plush-16.ico">


</head>

<body>
    <!-- ---------------------------------body-------------------------------------->
    
    <%- body %>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/dom.js"></script>
    
    <!-- ---------------------------------axios-------------------------------------->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- Include Axios -->
    
    
    
    <!-- ---------------------------------croper-------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    
    
    <!-- ---------------------------------zoom-------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
    


</body>

</html>