.bg-primary{
    background-color: #19D16F;
    color: white;
    transition: .1s all linear;
}
.bg-primary:hover{
    background-color: #00A845;
    color: white;
}
.error{
    color: red !important;
    font-family: 'Times New Roman', Times, serif;
}

.bg-gold{
    background-color: #C5A028;
}
.bg-gold-2{
    background-color: #D4AF37;
}
/* spinner */

