<div class=" w-3/12 p-2 h-screen">
    <!-- User Greeting -->
    <div class="mb-3 bg-white shadow-md p-3">
        
      <div class=" text-gray-600 text-lg">Hello,</div>
      <div class="font-semibold text-lg text-primary">Mohammed Raihan</div>
    </div>
    
    <!-- Sidebar Menu -->
    <nav class=" bg-white shadow-md space-y-2 p-3">
      <a href="/orders" class="block py-2 px-4 rounded hover:bg-gray-200">
        <i class="fas fa-box"></i> My Orders
      </a>
      <div class="text-gray-500 font-bold px-4">ACCOUNT SETTINGS</div>
      <a href="/profile" class="block py-2 px-4 rounded bg-primary text-white">Profile Information</a>
      <a href="/address" class="block py-2 px-4 rounded hover:bg-gray-200">Manage Addresses</a>
  
      <div class="text-gray-500 font-bold px-4"><i class="fab fa-amazon-pay"></i>  PAYMENTS</div>
      <a href="/gift-cards" class="block py-2 px-4 rounded hover:bg-gray-200">Gift Cards</a>
      <a href="/saved-upi" class="block py-2 px-4 rounded hover:bg-gray-200">Saved UPI</a>
      <a href="/saved-cards" class="block py-2 px-4 rounded hover:bg-gray-200">Saved Cards</a>
  
      <div class="text-gray-500 font-bold px-4">MY STUFF</div>
      <a href="/coupons" class="block py-2 px-4 rounded hover:bg-gray-200">My Coupons</a>
      <a href="/reviews" class="block py-2 px-4 rounded hover:bg-gray-200">My Reviews & Ratings</a>
      <a href="/wishlist" class="block py-2 px-4 rounded hover:bg-gray-200">My Wishlist</a>
  
      <a href="/logout" class="block py-2 px-4 rounded hover:bg-gray-200">
        <i class="fas fa-power-off"></i> Logout
      </a>
    </nav>
  </div>
  